zig-out/
.zig-cache/
.boblang/
.boblang_rust/
src/_runtime/
output
tests.log
mine
some.ir
src/tests/lib/
src/tests/stuff/lib/
fib_perf_test
fib_rs
fib_rs_perf
fib_test
fib_test_clang
fib_test_exe
fib_test_obj.o
fib_test_zig
fib_test_zig_verbose
fib_test.ll
main.bob
output_cross.pdb
.boblang_rust/
useful.txt
.boblang/
language.md
dist/
.boblang/